#addthis_services {
  background-color: #FFFFFF;
}

#addthis_services a {
  padding: 0px 0px 0px 4px; 
  color:#333333; 
  display: block;
  font-weight: normal;
}

#addthis_services td{
  padding: 1px 0px 1px 0px;
}

#addthis_dropdown15 a:hover {
  background-color: #F5F5F5;
  border-bottom: 0px;
}

#addthis_dropdown15 a {
  text-decoration: none; 
  font-family:Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#addthis_dropdown15 img {
  border:none; 
  vertical-align:middle;
  width: 16px;
  height: 16px;  
}

#addthis_dropdown15 {
  z-index: 1000000;
  text-align: left;
  width: 230px; 
  position: absolute; 
  display: none; 
  border: #CCCCCC solid 1px; 
  padding: 1px 1px 0px 1px; 
  overflow: hidden;
  background-color: #FFFFFF;
  font-family:Geneva, Arial, Helvetica, sans-serif;
}
