/* Stars.css  (April 27, 2007)
   @creator Chris Iufer
   @version 1.1
*/

div.starry {
	width:auto;
	margin:0px 0 0px 0;
	padding:0px;
	width:auto;
}
div.standard_star {
	background-repeat: no-repeat;
	cursor:pointer;
	float:left;
	display:inline;
}
div.feedback {
	border:1px solid #ddd;
	padding:5px 3px 3px;
	display:inline;
}